<header>
    <nav>
        <ul>
            <img class="logo" src="{{ asset('img/logo-dbd.webp') }}" alt="Logo dbd">
            <li class="items"><a href="{{ path('personajes') }}">Personajes</a></li>
            <li class="items"><a href="{{ path('noticias') }}">Noticias</a></li>
            <li class="items"><a href="{{ path('builds') }}">Builds</a></li>
{#            <li class="items discord"><a href="https://discord.gg/UQEVUNuyqD">Únete a nuestro Discord</a></li>#}
            <li class="login"><a href="{{ path('login') }}">Iniciar sesión</a></li>
        </ul>
    </nav>
</header>